<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>
<script>
  (function poll() {
    setTimeout(function() {
       $.ajax({ url: "/topplayers", success: function(data) {
            var table = "<table class='table table-striped' style='font-size:20px;'><thead align='center'><tr><th>Player Number</th><th>Chips</th></tr></thead>";
            for(var i=0;i<data.length;i++) {
              table += "<tr><td>" + data[i].playerNum + "</td><td>" + data[i].chips + "</td></tr>";
            }
            table += "</table>";
            $('#leaderboard').html(table);
       }, dataType: "json", complete: poll });
    }, 3000);
  })();
</script>
<div class="text-center">
  <h3> Leaderboard </h3>
  <div class="container" id="leaderboard">
    <h3> Initializing </h3>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Buy Tickets</h3>
      <ul>
        <li>Price: $5 for NYU students; $10 for Non-NYU students</li>
        <li>Where: NYU Skirball Ticket Central (556 Laguardian Pl, New York, NY, 10012</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Prizes</h3>
      <ul>
        <li>Beats Pill</li>
        <li>Beats Headphone</li>
        <li>One-year pass to CSSA events</li>
        <li>Gift cards</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
</body>
</html>
