<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <style>
    table, th, td, tr {
      border: 1px solid black;
    }
  </style>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>House of Cards</h1>
    <p>10/15 Thu 7p.m. - 10p.m.</p>
    <p>10th Floor, Kimmel Center, Rosenthal Pavilion</p>
  </div>
</div>
<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3>Buy Tickets</h3>
      <ul>
        <li>Price: $5 for NYU students; $10 for Non-NYU students</li>
        <li>Where: NYU Skirball Ticket Central (556 Laguardian Pl, New York, NY, 10012</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Prizes</h3>
      <ul>
        <li>Beats Pill</li>
        <li>Beats Headphone</li>
        <li>One-year pass to CSSA events</li>
        <li>Gift cards</li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
<table id="leaderboardTable">
  <tr>
    <th>Player</th>
    <th>Score</th>
  </tr>
</table>
<script type="text/javascript">
  var swap = function(list, a ,b){
    var tmp = list[a];
    list[a] = list[b];
    list[b] = tmp;
  }
  var scoresRef = new Firebase("https://ilovemarshmellow.firebaseio.com/player");
  var flag = 0;
  scoresRef.orderByChild("chips").limitToLast(3).on("value", function(snapshot) {
    var table = document.getElementById("leaderboardTable");
    if (flag == 1){
      table.deleteRow(1);table.deleteRow(1);table.deleteRow(1);
    }
    var list = [];
    snapshot.forEach(function(data) {
      var key = data.key(), chips = data.val().chips;
      var obj = {'key' : key, 'chips' : chips};
      list.push(obj);
    });

    if (list[0].chips > list[1].chips){
      if (list[1].chips < list[2].chips) swap(list, 1, 2);
    }
    else{
      if (list[1].chips < list[2].chips) swap(list, 0, 2);
      else swap(list, 0, 1);
    }

    for(var i = 0; i < list.length; i++){
      var data = list[i];
      console.log("The " , data.key , " has chips " , data.chips);
      var newScoreRow = $("<tr/>");
      newScoreRow.append($("<td/>").text(data['key']));
      newScoreRow.append($("<td/>").text(data['chips']));
      $("#leaderboardTable").append(newScoreRow);
      flag = 1;
    }  
  });
</script>
</body>
</html>
