<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="container" class="container">

    <!-- LOGIN -->
    <form id="frmLogin" role="form" method="post" action="/registration">
         <h2>Create Player</h2>

        <div class="form-group">
            <label for="txtPlayerNetId">Player NetId</label>
            <input type="text" class="form-control" id="txtPlayerNetId" placeholder="Enter Player NetId" name="netId" />
        </div>

        <div class="form-group">
          <label for="txtPlayerNickname">Player Nickname</label>
          <input type="text" class="form-control" id="txtPlayerNickname" placeholder="Enter Player Nickname" name="nickname" />
        </div>
      </div>

        <button type="submit" class="btn btn-default btn-block">Create</button>
        <br />
        <br />
    </form>
    <!-- / LOGOUT -->
</div>

<% if(msg) { %> 
  <h4 class="text-center"><%= msg %></h4>
<% } %>

</body>
</html>